{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <title>Transparent Login Form UI</title> -->
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
     <title>Discuss Anywhere</title> 
  </head>
  <body style="background-image: url({% static '/img/p11.jpg' %})">
    <div class="bg-img">
      <div class="content">
        <header>Fill the bellow</header>
        <form  action='#'>
         {% csrf_token %}
          <div action="/action_page.php" class="field space">
               <span class="fas fa-images"></span>
                <label for="img">Select image:</label>
                <input type="file" id="img" name="img" accept="image/*">
          </div>
        <div class="field space">
            
            <input type="text" required placeholder="Write something about you!!! WHO U ARE ? ...">
          </div>
<div class="pass">
            <a href="#">Enter your favourite topics or area</a>
          </div>
<div class="field">
            <input type="submit" value="SUBMIT">
          </div>
</form>
{% comment %} <div>
{% for message in messages%}
    <h3>{{message}}</h3>
{%endfor%}
</div> {% endcomment %}
<div class="login">
Or login with</div>
<div class="links">
          <div class="facebook">
            <i class="fab fa-facebook-f"><span>Facebook</span><h4>facebook</h4></i>
          </div>
<div class="instagram">
            <i class="fab fa-instagram"><span>Instagram</span><h4>instagram</h4></i>
          </div>
</div>
<div class="signup">
Don't have account?
          <a href="signin">Sign in Now</a>
        </div>
</div>
</div>

  </body>
</html>
