{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta charset="utf-8">
                <title>Disscuss Anywhere</title>
                <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>

<div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header">Coronavirus disease (COVID-19) is an infectious disease</div>
        <div class="card-body text-primary">
          <img src={% static 'img/Covid-28april.jpg' %} style="width: 300px; height:220px">
          <h5 class="card-title">Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</h5>
          <p class="card-text">In particular, WHO, OIE and UNEP call on national competent authorities to suspend the trade in live caught wild animals of mammalian species for food or breeding purposes and close sections of food markets selling live caught wild animals of mammalian species as an emergency measure.</p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header">All information about covid outbreak</div>
        <div class="card-body text-primary">
          <img src={% static 'img/img2.jpg' %} style="width: 300px; height:320px">
          <h5 class="card-title">Stay informed:Protect yourself: advice for the public</h5>
          <p class="card-text">To reduce the public health risks associated with the sale of live wild animals for food in traditional food markets, WHO, OIE and UNEP have issued guidance on actions that national governments should consider adopting urgently with the aim of making traditional markets safer and recognizing their central role in providing food and livelihoods for large populations</p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header">Stay informed:Protect yourself: advice for the public</div>
        <div class="card-body text-primary">
          <img src={% static 'img/img3.jpg' %} style="width: 350px; height:200px">
          <h5 class="card-title">Reducing public health risks associated with the sale of live wild animals of mammalian species in traditional food markets</h5>
          <p class="card-text">In particular, WHO, OIE and UNEP call on national competent authorities to suspend the trade in live caught wild animals of mammalian species for food or breeding purposes and close sections of food markets selling live caught wild animals of mammalian species as an emergency measure.</p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header">Reducing public health risks associated with the sale of live wild animals</div>
        <div class="card-body text-primary">
          <img src={% static 'img/img4.jpg' %} style="width: 240px; height:270px">
          <h5 class="card-title">Reducing public health risks associated with the sale of live wild animals of mammalian species in traditional food markets</h5>
          <p class="card-text">To reduce the public health risks associated with the sale of live wild animals for food in traditional food markets, WHO, OIE and UNEP have issued guidance on actions that national governments should consider adopting urgently with the aim of making traditional markets safer and recognizing their central role in providing food and livelihoods for large populations</p>
        </div>
      </div>
      



    </body>
    </html>