{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta charset="utf-8">
                <title>Quora</title>
                <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>

<div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header">Italian Cuisine</div>
        <div class="card-body text-primary">
          <img src={% static 'img/img6.jpg' %} style="width: 300px; height:220px">
          <h5 class="card-title">There is nothing more romantic than Italian food</h5>
          <p class="card-text">Italian cuisine is a Mediterranean cuisine consisting of the ingredients, recipes and cooking techniques developed across the Italian Peninsula since antiquity, and later spread around the world together with waves of Italian diaspora. Italian cuisine is generally characterized by its simplicity, with many dishes having only two to four main ingredients. Italian cooks rely chiefly on the quality of the ingredients rather than on elaborate preparation. Ingredients and dishes vary by region. Many dishes that were once regional have proliferated with variations throughout the country.</p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header">Korean Cuisine</div>
        <div class="card-body text-primary">
          <img src={% static 'img/img7.jpg' %} style="width: 350px; height:320px">
          <h5 class="card-title">I'm totally in love with Kimchi Ramen and Soju</h5>
          <p class="card-text">Korean cuisine is largely based on rice, vegetables, Seafood and meats. Traditional Korean meals are named for the number of side dishes (반찬; 飯饌; banchan) that accompany steam-cooked short-grain rice. Kimchi is served at nearly every meal. Commonly used ingredients include sesame oil, doenjang (fermented bean paste), soy sauce, salt, garlic, ginger, gochugaru (pepper flakes), gochujang (fermented red chili paste) and napa cabbage.</p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header">Japanese Cuisine</div>
        <div class="card-body text-primary">
          <img src={% static 'img/img8.jpg' %} style="width: 350px; height:200px">
          <h5 class="card-title">Harapeko: “I’m hungry”</h5>
          <p class="card-text">Japanese cuisine encompasses the regional and traditional foods of Japan, which have developed through centuries of political, economic, and social changes. The traditional cuisine of Japan (Japanese: washoku) is based on rice with miso soup and other dishes; there is an emphasis on seasonal ingredients. Side dishes often consist of fish, pickled vegetables, and vegetables cooked in broth. Seafood is common, often grilled, but also served raw as sashimi or in sushi. Seafood and vegetables are also deep-fried in a light batter, as tempura. Apart from rice, a staple includes noodles, such as soba and udon. Japan also has many simmered dishes such as fish products in broth called oden, or beef in sukiyaki and nikujaga.</p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header"></div>
        <div class="card-body text-primary">
          <img src={% static 'img/img9.jpg' %} style="width: 300px; height:270px">
          <h5 class="card-title">Ever heard of Pretzels? Yeah that's originated in Germany</h5>
          <p class="card-text">The cuisine of Germany (German: Deutsche Küche) is made up of many different local or regional cuisines, reflecting the country's federal history. Germany itself is part of a larger cultural region, Central Europe, sharing many traditions with neighbouring countries such as Poland and the Czech Republic. Southern regions, like Bavaria and Swabia, share dishes with Austrian and parts of Swiss cuisine. Their staple food consists of meat, vegetables, fish, bread, fruits and desserts.</p>
        </div>
      </div>
      



    </body>
    </html>